<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Dodaj termine</title>
    </h:head>
    <h:body>
        <link href="./resources/css/style.css" rel="stylesheet" type="text/css" />

        <div id="bodiPocetne" style="background-color: transparent;" align="center">
            <div id="logPodaci" align="right">
                <h:form id="logPodaciForma">
                    Ulogovani ste kao #{mbSesija.ulogovaniProfesor.imeProfesora} #{mbSesija.ulogovaniProfesor.prezimeProfesora} 
                    <p:commandButton value="Odjava" action="#{mBKonsultacijeProfesor.odjaviProfesora()}" style="width: 80px;height: 30px;text-align: center"/>
                </h:form>
            </div>  
            <div id = "hederPocente" style="background-color:  transparent ;height: 170px; margin-top: -10px;" >
                <img src="./resources/images/logo.png"/>

                <h2>  Unesite datum, vreme od i do, i interval za svakog studenta.</h2>
            </div>
            <div id="centarPocetne" align="center">

                <h:form>

                    <div id="formaDodajKonsultacije" >
                        <div id ="menu" style="height: 52px; background-color: #A8A8A8; border-radius: 8px" >
                            <p:commandButton value="Pregled" action="profesor" style="height: 50px; width: 200px;text-align:center"/>
                            <p:commandButton value="Dodaj konsultacije" action="dodajKonsultacije" style="height: 50px; width: 200px;text-align:center"/>
                            <p:commandButton value="Studenti" action="pregledPoStudentu" style="height: 50px; width: 200px;text-align:center"/>
                        </div>
                        Datum:<p:calendar value="#{mBDodajKonsultacije.datum}" id="popupCal" widgetVar="kale" styleClass="kal"/> <br/>

                        <h:outputLabel for="minmax" value="Vreme od: " />  
                        <p:spinner id="minmax"   
                                   value="#{mBDodajKonsultacije.satiOd}" min="00" max="23" style="width: 80px"/> 

                        <h:outputLabel for="minmax1" value=" : " />  
                        <p:spinner id="minmax1"   
                                   value="#{mBDodajKonsultacije.minOd}" min="00" max="59" style="width: 80px"/> <br/>
                        <h:outputLabel for="minmax2" value="Vreme do: " />  
                        <p:spinner id="minmax2"   
                                   value="#{mBDodajKonsultacije.satiDo}" min="00" max="23" style="width: 80px"/> 
                        <h:outputLabel for="minmax3" value=" : " />  
                        <p:spinner id="minmax3"   
                                   value="#{mBDodajKonsultacije.minDo}" min="00" max="59" style="width: 80px"/> <br/>

                        Interval:<p:inputText id="interval" value="#{mBDodajKonsultacije.period}" style="width: 50px"/><br/>
                    </div>
                    <p:commandButton value="Dodaj" action="#{mBDodajKonsultacije.dodajKonsultacije}"></p:commandButton>
                    <p:growl id="growl"></p:growl>
                </h:form>
            </div>
        </div>
    </h:body>
</html>

