<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
   
    <h:head>
        <title>Login</title>
        <link href="/WebApplication4/resources/css/style.css" rel="stylesheet" type="text/css" />
    </h:head>
    
    <h:body>
         <div id="gore" style="height: 170px;margin-top: -3px" align="center" >
             <img src="./resources/images/logo.png"/>
             <div style="height: 40px; width: 600px;" align="center" >    
                 Servis za zakazivanje konsultacija. 
             </div>
                </div>
         <div id="panel"  align="center" >
        <h:form id="forma" >
            
            <div id="centralniDeo" align="center">
                <div style="height: 70px">
                </div>
                <p:panelGrid columns="2" >  
                <f:facet name="header" class="heder" >  
                   Prijava na sistem: 
                </f:facet> 
               
                <h:outputText value="Korisnicko ime:" />
                <p:inputText id="txtKorisnikoIme" value="#{mbLogovanje.tekuciKorisnik.emailStudenta}" />
        
        <h:outputText value="Sifra:"/>
        <p:password id="pswdKorisnickaSifra" value="#{mbLogovanje.tekuciKorisnik.sifraStudenta}"/>
                                  
                              <f:facet name="footer" > 
                                  <div id="dugmeLoginProfesor" align="right">
                                      <h:commandButton value="Prijavi se" action="#{mbLogovanje.prijaviKorisnika()}" style="border-radius: 2px;border: black;" />
                                      <h:commandButton   value="Prijavi se kao profesor" action="#{mbLogovanje.prijaviSeKaoProfesor()}" style="border-radius: 2px;border: black;"/>
                                  
                                  </div>
                              </f:facet>
         </p:panelGrid>
                <div id="poruka" align="center" style="width: 500px;">
                  <p:messages id="poruke" />
                
            </div>
               </div>            
        </h:form>
          </div>
    </h:body>
</html>

