<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Online zakazivanje konsultacija</title>
        <link href="/WebApplication4/resources/css/style.css" rel="stylesheet" type="text/css" />
    </h:head>
    <h:body> 
       
        <div id="bodiPocetne" style="background-color: transparent;" align="center">
            <div id="logPodaci" align="right">
                <h:form id="logPodaciForma">
                    Ulogovani ste kao #{mbSesija.ulogovaniKorisnik.imeStudenta} #{mbSesija.ulogovaniKorisnik.prezimeStudenta} 
                    <p:commandButton value="Odjava" action="#{mBKonsultacija.odjaviStudenta()}" style="text-align: center"/>
                </h:form>
            </div>                                                                                                                             
            <div id = "hederPocente" style=" ;height: 170px; margin-top: -10px;" >
                <img src="./resources/images/logo.png"/>

                <h2> Dobrodošli na sajt za online zakazivanje konsultacija.</h2>
            </div>
            <div id="centarPocetne" align="center">
                <h:form >
                     <div id ="menu" style="height: 52px; background-color: #A8A8A8; border-radius: 8px" >
           <p:commandButton value="Pregled" action="pocetna.xhtml" style="height: 50px; width: 200px;text-align:center"/>
           <p:commandButton value="Preporuke" action="preporuke.xhtml" style="height: 50px; width: 200px;text-align:center"/>
       
       </div>
                     
                    <div id="dogadjaj" align="center"> 
                        <p:calendar value="#{mBKonsultacija.date1}" mode="inline" id="inlineCal">  
                            <p:ajax event="dateSelect" listener="#{mBKonsultacija.handleDateSelect}" update="tabela"/>  
                        </p:calendar> 
                        <br/>
                        <p:selectOneMenu id="cbProfesori"  value="#{mBKonsultacija.selektovaniProfesor}" converter="profesorKonverter" >

                            <f:selectItems value="#{mBKonsultacija.listaProfesora}" var="prof" itemLabel="#{prof.imeProfesora} #{prof.prezimeProfesora}"  itemValue="#{profesor}" />
                            <p:ajax event="change" listener="#{mBKonsultacija.vratiKonsultacijeZaDatumIProfesora()}" update="tabela"/>
                        </p:selectOneMenu>


                    </div>
                    <br/>
                    <h:panelGrid id="tabela">
                         <p:growl id="growl" showDetail="true"/>
                        <p:dataTable value="#{mBKonsultacija.listaKonsultacija}" var="konsultacija" >

                            <p:column >
                                <f:facet name="header">Datum</f:facet>

                                <p:outputLabel value="#{konsultacija.konsultacijaPK.datum}">
                                    <f:convertDateTime pattern="dd-MM-yyyy" type="date" timeZone="CET"/>
                                </p:outputLabel>
                            </p:column>
                            <p:column >
                                <f:facet name="header">Pocetak</f:facet>
                                <p:outputLabel value="#{konsultacija.konsultacijaPK.vremePocetka}">
                                    <f:convertDateTime pattern="HH:mm" type="time" timeZone="CET"/>
                                </p:outputLabel>
                            </p:column> 
                            <p:column >
                                <f:facet name="header">Kraj</f:facet>
                                <p:outputLabel value="#{konsultacija.vremeZavrsetka}">
                                    <f:convertDateTime pattern="HH:mm" type="time" timeZone="CET"/>
                                </p:outputLabel>
                            </p:column> 
                            <p:column >
                                <f:facet name="header">Student</f:facet>
                                    #{konsultacija.student.imeStudenta}
                            </p:column> 
                            <p:column >
                                <f:facet name="header">Komentar studenta</f:facet>
                                    #{konsultacija.komentarStudenta}
                            </p:column> 
                            <p:column >
                                <f:facet name="header">Operacija</f:facet>                
                                <h:commandButton value="#{mBKonsultacija.natpisNaDugmetu(konsultacija)}" disabled="#{mBKonsultacija.disabledZakazi(konsultacija)}" readonly="false" action="#{mBKonsultacija.pokreniIzmenu(konsultacija)}" style="size: 90px" />
                            </p:column>


                        </p:dataTable>
                    </h:panelGrid>

                </h:form>
            </div>
        </div>
    </h:body>
</html>

