<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Pregled po studentu</title>
    </h:head>
    <h:body>
        <link href="./resources/css/style.css" rel="stylesheet" type="text/css" />
     <div id="bodiPocetne" style="background-color: transparent;" align="center">
        <div id="logPodaci" align="right">
                <h:form id="logPodaciForma">
                    Ulogovani ste kao #{mbSesija.ulogovaniProfesor.imeProfesora} #{mbSesija.ulogovaniProfesor.prezimeProfesora} 
                    <p:commandButton value="Odjava" action="#{mBKonsultacijeProfesor.odjaviProfesora()}" style="width: 80px;height: 30px;text-align: center"/>
           </h:form>
          </div>     
            <div id = "hederPocente" style="background-color:  transparent ;height: 170px; margin-top: -10px;" >
          <img src="./resources/images/logo.png"/>
               
                <h2> Dobrodošli na sajt za online zakazivanje konsultacija.</h2>
        </div>
        <div id="centarPocetne" align="center">
       <h:form>
           <div id ="menu" style="height: 52px; background-color: #A8A8A8; border-radius: 8px" >
           <p:commandButton value="Pregled" action="profesor" style="height: 50px; width: 200px;text-align:center"/>
           <p:commandButton value="Dodaj konsultacije" action="dodajKonsultacije" style="height: 50px; width: 200px;text-align:center"/>
           <p:commandButton value="Studenti" action="pregledPoStudentu" style="height: 50px; width: 200px;text-align:center"/>
       </div>
       
   <h:panelGrid id="dogadjaj"> 
       <h:outputLabel value="Student: " for="student"/> 
      
   
   <p:selectOneMenu id="cbStudenti"  value="#{mbPregledPoStudentu.odabraniStudent}" converter="studentKonverter" >

       <f:selectItems value="#{mbPregledPoStudentu.listaStudenata}" var="s" itemLabel="#{s.imeStudenta} #{s.prezimeStudenta}"  itemValue="#{s}" />
       <p:ajax event="change" listener="#{mbPregledPoStudentu.vratiListuKonsultacija()}" update="tabela"/>
                  
                    </p:selectOneMenu>
             
        <h:panelGrid id="tabela">
                    <p:growl id="growl" showDetail="true"/> 
                    <p:dataTable value="#{mbPregledPoStudentu.listaKonsultacija}" var="konsultacija" >

                        <p:column >
                            <f:facet name="header">Datum</f:facet>

                            <p:outputLabel value="#{konsultacija.konsultacijaPK.datum}">
                                <f:convertDateTime pattern="dd-MM-yyyy" type="date" timeZone="CET"/>
                            </p:outputLabel>
                        </p:column>
                        <p:column >
                            <f:facet name="header">Pocetak</f:facet>
                            <p:outputLabel value="#{konsultacija.konsultacijaPK.vremePocetka}">
                                <f:convertDateTime pattern="HH:mm" type="time" timeZone="CET"/>
                            </p:outputLabel>
                        </p:column> 
                        <p:column >
                            <f:facet name="header">Kraj</f:facet>
                            <p:outputLabel value="#{konsultacija.vremeZavrsetka}">
                                <f:convertDateTime pattern="HH:mm" type="time" timeZone="CET"/>
                            </p:outputLabel>
                        </p:column> 
                        <p:column >
                            <f:facet name="header">Student</f:facet>
                                #{konsultacija.student.imeStudenta} #{konsultacija.student.prezimeStudenta}
                        </p:column> 
                        <p:column >
                            <f:facet name="header">Komentar studenta</f:facet>
                                #{konsultacija.komentarStudenta}
                        </p:column> 
                         <p:column >
                            <f:facet name="header">Komentar profesora</f:facet>
                                #{konsultacija.komentarProfesora}
                        </p:column>  
                        


                    </p:dataTable>
                </h:panelGrid>        
       
       
        </h:panelGrid>
       <br/><br/>
       
       
</h:form>
      </div>
            </div>  
        
    </h:body>
</html>


