<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"     
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Zakazivanje konsultacije</title>
          <link href="./resources/css/style.css" rel="stylesheet" type="text/css" />
    </h:head>
    <h:body>
        <div id="bodiZakazivanja" align="center">
            <div id="logPodaci" align="right">
                <h:form id="logPodaciForma">
  Ulogovani ste kao #{mbSesija.ulogovaniKorisnik.imeStudenta} #{mbSesija.ulogovaniKorisnik.prezimeStudenta} 
<p:commandButton value="Odjava" action="#{mBKonsultacija.odjaviStudenta()}" style="width: 80px;height: 30px;text-align: center"/>
           </h:form>
          </div>      
            
         <div id = "hederPocente" style="background-color:  transparent ;height: 170px; margin-top: -10px;" >
          <img src="./resources/images/logo.png"/>
               
                <h2> Dobrodošli na sajt za online zakazivanje konsultacija.</h2>
        </div>
        <div id="centarZakazivanja" align="center">
            <h:form id="zakazivanjeKonsultacija" >
                <p:outputLabel value="Datum: "></p:outputLabel>
                <p:outputLabel value="#{mBZakazivanje.konsultacijaZaZakazivanje.konsultacijaPK.datum}">
                <f:convertDateTime pattern="dd-MM-yyyy" type="date" timeZone="CET"/> 
               </p:outputLabel> <br/>
                <p:outputLabel value="Pocetak: "></p:outputLabel>
                <p:outputLabel value="#{mBZakazivanje.konsultacijaZaZakazivanje.konsultacijaPK.vremePocetka}">
                <f:convertDateTime pattern="HH:mm" type="time" timeZone="CET"/> 
               </p:outputLabel> <br/>
               <p:outputLabel value="Kraj: "></p:outputLabel>
                <p:outputLabel value="#{mBZakazivanje.konsultacijaZaZakazivanje.vremeZavrsetka}">
                <f:convertDateTime pattern="HH:mm" type="time" timeZone="CET"/> 
               </p:outputLabel> <br/>
               <p:outputLabel value="Student:  #{mBZakazivanje.mbSesija.ulogovaniKorisnik.imeStudenta}  #{mBZakazivanje.mbSesija.ulogovaniKorisnik.prezimeStudenta}"></p:outputLabel>
                 <br/>
                 <p:outputLabel value="Profesor:   #{mBZakazivanje.konsultacijaZaZakazivanje.profesor1.imeProfesora} #{mBZakazivanje.konsultacijaZaZakazivanje.profesor1.prezimeProfesora}"></p:outputLabel>
              <br/>
               
               <p:outputLabel value="Predmet: "/>  <p:selectOneMenu id="cbPredmeti" value="#{mBZakazivanje.konsultacijaZaZakazivanje.predmet}" converter="predmetKonverter" >
                                 
                    <f:selectItems value="#{mBZakazivanje.listaPredmeta}" var="predmet" itemLabel="#{predmet.idPredmeta.naziv}"  itemValue="#{predmet.idPredmeta}" />
                    
                        </p:selectOneMenu>
                
              <br/><p:outputLabel value="Komentar studenta: "/> <p:inputText id="komentarStudenta" value="#{mBZakazivanje.konsultacijaZaZakazivanje.komentarStudenta}"/>
              <br/>  <p:commandButton value="Zakazi" action="#{mBZakazivanje.zakaziKonsultaciju()}" />
              
                      
                
            </h:form>
        
</div>
            </div>
    </h:body>
</html>

