/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-Jan-2014, 11:08:36
    Author     : Katarina
*/


body{
    
   // background-color: #0066CC;
   // background-image: url('../images/pozadina.jpg') ;
  // background-color: #FF66FF;
   background-image: url('../images/fon-zgrada.jpg');
    background-repeat: no-repeat;
   // background-position: 100%;
    background-attachment: fixed;
    margin: 0 auto;
    background-size: cover;
   
    
}

tr.ui-widget-header{
    background-color: #0099FF;
    
}

input[type="button"], input[type="submit"],  input[type="file"]::-webkit-file-upload-button, button{
   
    
}

.ui-panelgrid td{
    border: none;
}
.ui-panelgrid tr{
    border: none;
}
#gore{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 30px;   
}
#centralniDeo{
    background-image:  url('../images/poz2.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 300px;
    border-radius: 8px;
    border-color: black;
    
}

.ui-spinner-input ui-inputfield ui-state-default ui-corner-all{
     width: 50px;
    font-size: 5px;
    size: 50px;
}
.ui-spinner-input{
    width: 50px;
}
#centarPocetne {
    background-image:  url('../images/poz2.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    
    border-radius: 8px;
    border-color: black;
    
}
#centarZakazivanja {
    background-image:  url('../images/poz2.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    
    border-radius: 8px;
    border-color: black;
    
}
#logPodaciForma {
    
    
}